.center{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.black{
    color: black;
}

.center{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

h2{
    text-align: center;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}

select{
    width: 200px;
}